/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/bootstrap/cache/*.php
/.env
.env.*

/storage/logs
*.log

/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

.phpunit.result.cache

composer.lock

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

/.idea
/.vscode
*.swp
*.swo

.DS_Store
Thumbs.db

docker-compose.override.yml

*.sql

*.tmp
